@font-face {
    font-family: 'major_snafuregular';
    src: url('major_shift-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'major_snafuregular';
}

#display {
    display: flex;
    width: 100%;
    column-gap: 20px;
}

.board {
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    width: 400px;
    height: 400px;
}

.cell {
    border: 1px solid black;
}

.cell[data-value='-']:after {
    content: '-';
}

.cell[data-value='x']:after {
    content: 'x';
}