@font-face {
    font-family: 'major_snafuregular';
    src: url('./fonts/major_shift-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'major_snafuregular';
}

#display {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 20px;
}

#shipContainer {
    display: none;
    flex-direction: column;
    width: 200px;
}

#ships {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
}

.ship {
    height: 40px;
}

#carrierContainer.vertical {
    width: 200px;
    height: 200px;
}

#battleshipContainer.vertical {
    width: 200px;
    height: 160px;
}

#destroyerContainer.vertical, #submarineContainer.vertical {
    width: 200px;
    height: 120px;
}

#patrolContainer.vertical {
    width: 200px;
    height: 80px;
}

.hide {
    display: none;
}

.dragOver {
    background-color: lightgrey;
}

.invalid {
    background-color: lightcoral;
}

.rotate {
    transform: rotate(90deg) translate(-40px);
    transform-origin: bottom left;
}

.board {
    display: none;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    width: 400px;
    height: 400px;
    background-image: url(./img/radar.png);
}

.cell {
    border: 1px solid black;
    position: relative;
}

.cell>img {
    position: absolute;
}

.cell[data-value='-']:after {
    position: absolute;
    height: 36px;
    content: url(./img/splash.png);
    z-index: 0;
}

.cell[data-value='x']:after {
    position: absolute;
    height: 36px;
    content: url(./img/hit.png);
    z-index: 0;
}